.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 72.1vh;
  z-index: 10; /* Đẩy video xuống lớp nền */
}

.eldenring-background {
  transform: translateY(0);
  transition: transform 0.3s ease-out;
}

.scrolled .eldenring-background {
  transform: translateY(-50px); /* Điều chỉnh khoảng cách theo nhu cầu */
}
.relative-content {
  width: 100%; /* Đảm bảo không vượt quá viewport */
}

html, body {
  overflow-x: hidden;
    box-sizing: border-box;
  overflow-x: hidden;
}
