@import "tailwindcss";
@font-face {
  font-family: 'Metropolis';
  src: url('/font/Metropolis.woff2') format('woff2');
}

@font-face {
  font-family: 'Gotham';
  src: url('/font/Gotham.woff2') format('woff2');
}


body{
font-family: 'Cinzel', 'Metropolis', 'Gotham', Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  background-image: url(../public/background/erbackground.jpg);

}
html, body {
  overflow-y: auto; /* Đảm bảo thanh cuộn luôn hiển thị */
  padding-right: 0 !important; /* Tránh bị lệch khi có thanh cuộn */
    box-sizing: border-box;
  overflow-x: hidden;
}


body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../public/background/erbackground.jpg);
  background-size: cover;
  background-position: center;

  z-index: -2;

}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #efefef;
  color: #1e244d;
  font-family: Metropolis, Gotham, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.25;
  margin-top: 0;
}
